.userRecentOrderComponent__wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.single__order__wrappper{
    width: 33.3%;
    border: 1px solid;
    border-color: gray;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 6px -4px rgba(162, 163, 171, 1);
    -moz-box-shadow: 1px 5px 6px -4px rgba(162, 163, 171, 1);
    box-shadow: 1px 5px 6px -4px rgba(162, 163, 171, 1);
}

.order__title{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.order__info{
    margin-bottom: 5px;
}

    .products__inorder__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .single__productInOrder__wrappper{
        width: 100%;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
    }

        .single__product__image{
            width: 20%;
        }

        .single__product__image img{
            object-fit: cover;
        }

        .single__product__quantity{
            width: 40%;
        }

        .single__product__price{
            width: 40%;
        }