.cart__items__order__wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.cart__items__wrapper{
    display: flex;
    flex-direction: column;
    width: 68%;
}

.cart__order__wrapper{
    display: flex;
    flex-direction: column;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    max-height: 350px;
}


.single__item__wrapper{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}

.item__image__description{
    display: flex;
    width: 70%;
}

.buttonControl{
    min-width: 10px;
    width: 10px;
}

    .item__description__cart{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
    }


    .image__cart__product{
        width: 200px;
    }

.item__control__price{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.control{
    display: flex;
    height: 50%;
    align-items: flex-end;
}

.price{
    display: flex;
    height: 50%;
}

@media only screen and (max-width: 1100px) {
    .cart__items__order__wrapper{
        flex-direction: column;
    }

    .cart__items__wrapper{
        width: 100%;
    }

    .cart__order__wrapper{
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .single__item__wrapper{
        flex-direction: column;
    }
    .item__control__price{
        width: 100%;
    }
    .item__image__description{
        width: 100%;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 400px) {

    .item__image__description{
        display: flex;
        flex-direction: column;
    }

    .item__image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .item__description{
        width: 100%;
        align-items: center;
    }
    .name__style{
        margin-right: 20px;
    }
}